:root {
  /* Variables para colores */
  --text-color-light: #213547;
  --text-color-dark: rgba(255, 255, 255, 0.87);
  --background-light: #ffffff;
  --background-dark: #242424;
  --link-hover-light: #0b336b;
  --link-hover-dark: #a7c5d5;
  --button-background-light: #f9f9f9;
  --button-background-dark: #333;
  
  /* Tipografía */
  --font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  line-height: 1.6;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  background-color: var(--background-dark);
  color: var(--text-color-dark);
  transition: background-color 0.3s, color 0.3s;
}

code {
  font-family: var(--font-code);
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease, transform 0.2s ease-in-out;
}

a:hover {
  color: var(--link-hover-dark);
  transform: translateY(-2px);
}

button {
  background-color: var(--button-background-dark);
  color: var(--text-color-dark);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-primary);
  transition: background-color 0.3s, transform 0.2s ease-in-out;
}

button:hover {
  background-color: #444;
  transform: translateY(-2px);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color-light);
    background-color: var(--background-light);
  }

  a:hover {
    color: var(--link-hover-light);
  }

  button {
    background-color: var(--button-background-light);
  }

  button:hover {
    background-color: #e1e1e1;
  }
}
